<div id="fp_head">
    <img alt="Henkel Logo" src="./assets/svg/FTCS-logo.svg" />
</div>
<div id="fp_logo">
    <img alt="Henkel Logo" src="./assets/svg/washer.svg" />
</div>
<div id="fp_description">
    <div class="fp_description_head">Suchen & Finden</div>
    <div class="fp_description_content">Wähle dein Eikett aus und finde heraus, was</div>
    <div class="fp_description_content">es bedeutet und wie man die Kleidung auf die</div>
    <div class="fp_description_content">richtige Art und Weise wäscht.</div>
</div>
<div id="choice">
    <ul>
        <li class="liFirst">
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
        <li>
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
        <li>
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
        <li>
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
    </ul>
    <ul>
        <li class="liFirst">
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
        <li>
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
        <li>
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
        <li>
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
    </ul>
    <ul>
        <li class="liFirst">
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
        <li>
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
        <li>
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
        <li>
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
    </ul>
    <ul>
        <li class="liFirst">
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
        <li>
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
        <li>
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
        <li>
            <img alt="Henkel Logo" src="./assets/svg/washer-tag01.svg" />
        </li>
    </ul>
</div>
<div id="btn">
    <a routerLink="/sp"><button class="btn_nextstep">Nächster Schritt</button></a>
</div>
<div id="tips">
    <div class="tips_head"> WICHTIGER HINWEIS:</div>
    <div class="tips_content">Pflegekennzeichnungssymbole sind eingetragene Warenzeichen </div>
    <div class="tips_content">im Besitz von GINETEX. Jede Verwendung dieser Symbole bedarf </div>
    <div class="tips_content">der vorherigen Genehmigung durch GINETEX. Weitere </div>
    <div class="tips_content">Informationen finden Sie hier: www.ginetex.net</div>
</div>
<div id="bottom">
    <div id="bottom_margin_top">
        <a href="" class="bottom_href">Kontakt</a>
    </div>
    <div>
        <a href="" class="bottom_href">Impressum</a>
    </div>
    <div>
        <a href="" class="bottom_href">Nutzungsbedingungen</a>
    </div>
    <div>
        <a href="" class="bottom_href">Datenschutzerklärung</a>
    </div>
    <div>
        <a href="" class="bottom_href">Cookies</a>
    </div>
    <div>
        <a href="" class="bottom_href">Rezepturinformationen</a>
    </div>
    <div>
        <a href="" class="bottom_href">Netiquette</a>
    </div>
    <div id="bottom_dowm">
        <!-- other media link-->
        <div id="bottom_font">
            <a href="" class="bottom_dowm_head">FOLLOW US</a>
        </div>
        <div id="bottom_logos">
            <a href="http://www.facebook.com">
                <img src="./assets/svg/facebook.svg" />
            </a>
            <a href="http://www.instagram.com">
                <img src="./assets/svg/ins.svg" />
            </a>
            <a href="http://www.youtube.com">
                <img src="./assets/svg/youtube.svg" />
            </a>
        </div>
    </div>
</div>

