<p>sp works!</p>
<div id="sp_head">
    <img alt="Henkel Logo" src="./assets/svg/FTCS-logo.svg" />
</div>
<div id="description">
    <div class="description_content">Das bedeuten die</div>
    <div class="description_content">Zeichen auf deinem</div>
    <div class="description_content">Etikett:</div>
    <div id="warning">
        <div id="warning_body">
            <div class="warning_body_row">
                <div class="warning_body_row_div">
                    <img class="warning_body_img" alt="Henkel Logo" src="./assets/svg/wash-temp.svg" />
                </div>
                <div class="warning_body_row_div2">
                    <div class="warning_body_row_div2_first">Washing temperature</div>
                    <div class="warning_body_row_div2_secong">30°C is the recommended. You can wash this item with
                        similar colours.</div>
                </div>
            </div>
            <div class="warning_body_row">
                <div class="warning_body_row_div">
                    <img class="warning_body_img" alt="Henkel Logo" src="./assets/svg/wash-temp.svg" />
                </div>
                <div class="warning_body_row_div2">
                    <div class="warning_body_row_div2_first">Washing temperature</div>
                    <div class="warning_body_row_div2_secong">30°C is the recommended. You can wash this item with
                        similar colours.</div>
                </div>
            </div>
            <div class="warning_body_row">
                <div class="warning_body_row_div">
                    <img class="warning_body_img" alt="Henkel Logo" src="./assets/svg/wash-temp.svg" />
                </div>
                <div class="warning_body_row_div2">
                    <div class="warning_body_row_div2_first">Washing temperature</div>
                    <div class="warning_body_row_div2_secong">30°C is the recommended. You can wash this item with
                        similar colours.</div>
                </div>
            </div>
            <div class="warning_body_row">
                <div class="warning_body_row_div">
                    <img class="warning_body_img" alt="Henkel Logo" src="./assets/svg/wash-temp.svg" />
                </div>
                <div class="warning_body_row_div2">
                    <div class="warning_body_row_div2_first">Washing temperature</div>
                    <div class="warning_body_row_div2_secong">30°C is the recommended. You can wash this item with
                        similar colours.</div>
                </div>
            </div>
            <div class="warning_body_row">
                <div class="warning_body_row_div">
                    <img class="warning_body_img" alt="Henkel Logo" src="./assets/svg/wash-temp.svg" />
                </div>
                <div class="warning_body_row_div2">
                    <div class="warning_body_row_div2_first">Washing temperature</div>
                    <div class="warning_body_row_div2_secong">30°C is the recommended. You can wash this item with
                        similar colours.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="product_service">
    <div id="product_service_description">
        <div>Folgende Produkte und </div>
        <div>Servicedienstleistungen</div>
        <div>können wir dir empfehlen.</div>
    </div>
    <div id="product_service_description2">
        <div>Damit werden dir deine Lieblingsstücke</div>
        <div>noch so lange wie möglich Freude bereiten.</div>
    </div>
    <div id="coverflow_product_service">
        <div class="coverflow_product_service_head">Produkte & Service</div>
        <div id="coverflow_image_btns">
            <img class="coverflow_image" src="./assets/svg/product-carousel.png" alt="Henkel">
            <div id="coverflow_leftBtn">
                <button type="button" id="coverflow_left">
                    <img src="./assets/svg/left-btn.svg" />
                </button>
            </div>
            <div id="coverflow_rightBtn">
                <button type="button" id="coverflow_right">
                    <img src="./assets/svg/right-btn.svg" />
                </button>
            </div>
        </div>
    </div>
</div>
<div id="scanner_area">
    <div id="scanner">
        <div id="scanner_description">
            <div>Was bedeuten die anderen</div>
            <div>Zeichen auf deinen Etiketten?</div>
            <div>Der Label-Scanner sagt es dir!</div>
        </div>
        <div class="btn01">
            <button id="scanner_btn0">Weiteres Etikett scannen</button>
        </div>
        <div class="btn01">
            <button id="scanner_btn1">Etikett aus Fotos auswählen</button>
        </div>
        <div id="benutze">Benutze unsere Pflegeetikett Übersicht ></div>
        <div id="team_clean">
            <img src="./assets/svg/register-logo.svg" />
            <div>Gratis Proben und Gutscheine</div>
            <div>Exklusive Artikel, Tips & Tricks</div>
            <div>Kommentiere deine Lieblingsartikel</div>
            <div>Werde Produkttester</div>
            <div>Bleib immer auf dem Laufenden</div>
            <div id="team_clean_btn">
                <button id="scanner_btn1">Jetzt registrieren undalle Vorteile genießen</button>
            </div>
        </div>
    </div>
</div>
<div id="coverflow2_area">
    <div id="coverflow2_area_head">
        <div>Nachhaltigkeit liegt dir</div>
        <div>am Herzen?</div>
    </div>
    <div id="coverflow2_area_detail">
        <div>Uns auch! Damit wir unsere Umwelt und unsere</div>
        <div>Wäsche noch besser schonen können, haben wir</div>
        <div>ein paar Artikel für dich zur Inspiration.</div>
    </div>
    <div id="coverflow2">
        <div id="coverflow2_head">Artikel Nachhaltigkeit</div>
        <div id="coverflow2_btns">
            <img id="coverflow2_img" src="./assets/svg/product-carousel.png" alt="Henkel">
            <div id="coverflow2_leftBtn">
                <button type="button" id="coverflow2_left">
                    <img src="./assets/svg/left-btn.svg" />
                </button>
            </div>
            <div id="coverflow2_rightBtn">
                <button type="button" id="coverflow2_right">
                    <img src="./assets/svg/right-btn.svg" />
                </button>
            </div>
        </div>
    </div>
</div>
<div id="tips">
    <div class="tips_head"> WICHTIGER HINWEIS:</div>
    <div class="tips_content">Pflegekennzeichnungssymbole sind eingetragene Warenzeichen </div>
    <div class="tips_content">im Besitz von GINETEX. Jede Verwendung dieser Symbole bedarf </div>
    <div class="tips_content">der vorherigen Genehmigung durch GINETEX. Weitere </div>
    <div class="tips_content">Informationen finden Sie hier: www.ginetex.net</div>
</div>
<div>
    <div id="bottom">
        <div id="bottom_margin_top">
            <img alt="Henkel Logo" src="./assets/svg/FTC-logo.svg" />
        </div>
        <div id="bottom_margin_top">
            <a href="" class="bottom_href">Kontakt</a>
        </div>
        <div>
            <a href="" class="bottom_href">Impressum</a>
        </div>
        <div>
            <a href="" class="bottom_href">Nutzungsbedingungen</a>
        </div>
        <div>
            <a href="" class="bottom_href">Datenschutzerklärung</a>
        </div>
        <div>
            <a href="" class="bottom_href">Cookies</a>
        </div>
        <div>
            <a href="" class="bottom_href">Rezepturinformationen</a>
        </div>
        <div>
            <a href="" class="bottom_href">Netiquette</a>
        </div>
        <div id="bottom_dowm">
            <!-- other media link-->
            <div id="bottom_font">
                <a href="" class="bottom_dowm_head">FOLLOW US</a>
            </div>
            <div id="bottom_logos">
                <a href="http://www.facebook.com">
                    <img src="./assets/svg/facebook.svg" />
                </a>
                <a href="http://www.instagram.com">
                    <img src="./assets/svg/ins.svg" />
                </a>
                <a href="http://www.youtube.com">
                    <img src="./assets/svg/youtube.svg" />
                </a>
            </div>
        </div>
    </div>
</div>